$transition-ms: 0s;
$html-width-default: 375 !default;
 
 @keyframes appear {
   0%{
    transform: scale(0);
  }
  50%{

    transform: scale(0.5);
  }
  100%{
     transform: scale(1);
   }
 }

 @keyframes appearBox {
  0%{
    top: var(--pos-x-top);
    left: var(--pos-x-left);
    transform: scale(0);
  } 
  5%{
    transform: scale(0.1);
 }
  10%{
    transform: scale(0.25);
 }
  20%{
    transform: scale(0.25);
 }
  50%{
    transform: scale(0.5);
 }
  60%{
    transform: scale(0.6);
 }
  70%{
    transform: scale(0.75);
 }
  80%{
    transform: scale(0.8);
 }
  90%{
    transform: scale(0.9);
 }
  95%{
    transform: scale(0.95);
 }
  99%{
    transform: scale(0.99);
 }
 100%{
    transform: scale(1);
  }
}

.BlockFree {
  transition: transform $transition-ms, background 1s, width 0.3s, height 0.3s;
  -webkit-transition: transform $transition-ms, background 1s, width 0.3s, height 0.3s;
       -moz-transition: transform $transition-ms, background 1s, width 0.3s, height 0.3s;
        -ms-transition: transform $transition-ms, background 1s, width 0.3s, height 0.3s;
         -o-transition: transform $transition-ms, background 1s, width 0.3s, height 0.3s;
  opacity: 0.8;
  display: flex;
  align-items: center;
  background: rgba(216, 143, 9, 0.5);
  justify-content: center;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: grab;
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;

  animation:appear 0.1681s linear;
  &:active {
    cursor: -webkit-grabbing;
    opacity: 1 !important;
  }
  &:hover {
    opacity: 1 !important;
  }

}
.isDragging{
  opacity: 1 !important;
}
.pending{
  opacity: 0.33333;
  transition: opacity 1s;
}
.noSelect{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}
.children{
  position: fixed;
  z-index: 99999;
  min-width: 60vw;
  min-height: 60vw;
  border-radius: 10px;
  background: rgba(44,38,38,.85);

  margin-top: calc(60vw / -2);
  margin-left: calc(60vw / -2);

  transition: all 0.5s;

  top:50%;
  left:50%;
  display:flex;align-items:center;
  justify-content:center;
  animation: appearBox 0.15s linear;
}

.overlay{
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}